<%- include("../partials/header")%>
<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to campgrounds page</h1>
			<p>View campgounds</p>
			<p>
				<a class="btn btn-lg btn-info" href="/campgrounds/new">add new campgound</a>
			</p>
		</div>
	</header>
	
    <div class="row" style="display: flex; flex-wrap: wrap;">
    	<% campgrounds.forEach( campground => { %>
		    <div class="col-md-3 col-sm-6">
		    	<div class="card">
		    		<img class= "card-img-top" src=" <%= campground.image%> ">
		    		<div class="card-body">
		    			<h4> <%= campground.name %> </h4>
		    			<p>
		    			    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Detail</a>
		    		    </p>
		    		</div>

		    	</div>
		    </div>
		<% }) %>
    </div>
</div>



<%- include("../partials/footer")%>
	
